<div class="row">

<!--   <div>
    <h1>Lists by <%= current_user.username %></h1>
  </div> -->

  <div ng-app="app">
    <div ng-controller="listCtrl" ng-init="setup()">
      <div class="row">
        <div ng-repeat="list in lists">
          <div class="col l4">
            <div class="row listings">
              <a href="/lists/{{ list.id }}">
                <h3 class="grey-text list-title">{{ list.name }}</h3></a>

                <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Make this list public" href="#" ng-if="!list.public" ng-click="makePublic(list)"><i class="material-icons">visibility_off</i>
                  <a href="#" ng-if="list.public" ng-click="makePublic(list)"><i class="material-icons grey-text">visibility</i></a>

                  <p>{{ list.description }}</p>
                  <p><em>{{ list.products.length }} products</em></p>
                  <div ng-repeat="listProduct in list.products | limitTo:quantity">
                    <div class="col l3 product-list">
                      <div class="product-image-list" style="background-image: url('{{ listProduct.image_src }}');"></div>
                    </div>
                  </div>
                  <a class="clear left" href="#" ng-click="deleteList(list)"><p>Delete List</p></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>