<div class="row">
  <div class="coll12">
    <div ng-app="app">
      <div ng-controller="publicListCtrl" ng-init="setup()">
        <h2>{{ publicList.username }}: {{ publicList.name }}</h2>
        <p>{{ publicList.description }}</p>
        <div ng-repeat="product in publicProducts">
          <div class="product col l4 m6 s12">
            <a href="/products/{{ product.shopstyle_id }}"><div class="product-image" style="background-image: url('{{ product.image_src }}');"></div></a>
              <select name="listSelect_{{ product.id }}" id="listSelect_{{ product.id }}" class="listSelect" ng-model="listSelect.id" ng-change="showSelectValue(listSelect.id)">
                <option value="">--- Select a List ---</option>
                <option ng-repeat="list in myLists" value="{{list.id}}">{{list.name}}</option>
              </select>
            <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add this to a list" href="#" ng-click="addProduct(product, list)"><i class="material-icons red-text text-lighten-4">add</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>