<div class="row">
  <h2>Community Lists</h2>
  <div ng-app="app">
    <div ng-controller="publicCtrl" ng-init="setup()">
      <div ng-repeat="public in publicLists">
        <div class="col l4">
          <div class="row listings">
            <div class="col l4">
              <img class="img-responsive" src="{{ public.userImage }}">
            </div>
            <div class="col l11 list-hdr">
              <a href="/public/{{ public.id }}"><h4 class="list-title">{{ public.username }}: {{ public.name }}</h4></a>
            </div>
            <p>{{ public.description }}</p>
          <!--   <p><em>{{ public.products.length }} products</em></p> -->
            <div ng-repeat="publicProduct in public.products | limitTo:quantity">
              <div class="col l3 product-list">
                <div class="product-image-list" style="background-image: url('{{ publicProduct.image_src }}');"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
