<div class="row">
  <div class="col l12">
    <div ng-app="app">
      <div ng-controller="productsCtrl" ng-init="setup()">
        <h3 ng-if="similarByRetailer.length > 0">You May Also Like:</h3>

        <div class="row">
          <div ng-repeat="similar in similarByRetailer | limitTo:quantity">
            <div class="col l1 product-list">
            <a class="modal-trigger" href="#modal{{ similar.id }}">
                <div class="product-image-list" style="background-image: url('{{ similar.image_url }}');"></div>
              </a>

              <div id="modal{{ similar.id }}" class="modal white">
                <div class="modal-content">
                <div class="row">
                <div class="col l6">
                  <div class="product-modal" style="background-image: url('{{ similar.image_url }}'); height: 25em; background-repeat: no-repeat; background-position: center; background-size:contain;"></div>
                </div>
                <div class="col l6">
                  <h4>{{ similar.name }}</h4>
                  <p>${{ similar.price }}</p>
                  </div>
                  </div>
                </div>

                <div class="modal-footer white">
                  <a href="#!" class=" modal-action modal-close waves-effect waves-grey btn-flat">Close</a>
                  <button class="btn-flat" ng-click="addProduct(similar)">Add to List</button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <h2>{{ list.name }}</h2>
        <p>{{ list.description }}</p>

        <button class="grey-text white filter left waves-effect waves-light" ng-if="productCategories.length > 0" ng-click="changeFilterCategory(filterAll)">All</button>
        <div ng-repeat="productCategory in productCategories">
          <button class="grey-text white filter left waves-effect waves-light" ng-click="changeFilterCategory(productCategory)">{{ productCategory }}</button>
        </div>

        <div style="clear:both;">
          <div ng-repeat="product in products | filter: {category: filterCategory} track by $index">
            <div class="product col l4 m6 s12">
            <a href="#" ng-click="deleteProduct(product)"><i class="material-icons red-text text-lighten-4 right">cancel</i></a>
              <a href="/products/{{ product.shopstyle_id }}"><div class="product-image" style="background-image: url('{{ product.image_src }}');"></div></a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>