<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col">
    <h2><%= @list.name %></h2>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <p><%= @list.description %></p>
  </div>

  <% @list.products.each do |product| %>
    <div class="product col l4 m6 s12">
      <div class="product-image" style="background-image: url('<%= product.image_src %>');"></div>
    </div>
  <% end %>
</div>