// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$full: 100%;
$hidden: hidden;
$bg_cover: contain;
$center: center;
$no_repeat: no-repeat;
$zero: 0;

$black: #000;


img {
  max-width: $full;
}

.product {
  overflow: $hidden;
  padding: 2em $zero !important;

  h2 {
    text-align: $center;
  }

  .product-image-index {
    height: 20em; 
    background-size: $bg_cover;
    background-position: $center;
    background-repeat: $no_repeat;
  }

  .product-image-single {
    height: 25em; 
    background-size: $bg_cover;
    background-position: $center;
    background-repeat: $no-repeat;
  }
}
