<div class="row">
  <div class="col l8 product">
  <a href='<%= @product["clickUrl"] %>'>
    <div class="product-image" style="background-image: url('<%= @product["image"]["sizes"]["Best"]["url"] %>');"></div></a>
  </div>
  <div class="col l4">
    <h3><%= @product["name"] %></h3>
    <p><%= number_to_currency(@product["price"]) %></p>
  </div>
</div>