<div class="row">
  <div class="col l8 product">
    <div class="product-image-single" style="background-image: url('<%= @product["image"]["sizes"]["Best"]["url"] %>');"></div>
  </div>
  <div class="col l4">
    <h3><%= @product["name"] %></h3>
    <p><%= number_to_currency(@product["price"]) %></p>
  </div>
</div>