<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>">
  <script>
    Materialize.toast("<%= message %>", 3000, 'rounded <%= message_type %>', 'success')();
  </script>
</div>
<% end %>