<div class="col l2">
  <% if current_user %>
  <div class="profile" style="background-image: url('<%= current_user.image %>');"></div>
  <% end %>
  <ul id="nav-mobile" class="side-nav-fixed">
    <% if current_user %>
    <li><a href="/lists/">My Lists</a></li>
    <ul class="user-lists">
      <% current_user.lists.each do |list| %>
      <a href="/lists/<%= list.id %>"><li><%= list.name %></li></a>
      <% end %>
    </ul>
    <li><a href="/lists/new">Create a new List</a></li>
    <% end %>
  </ul>
</div>