<nav class="white">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center"><h1 class="grey-text"><strong>Ooh, Gimme</strong></h1></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
      <li><a href="/lists">My Lists</a></li>
      <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
      <li><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
      <% else %>
      <li><a href="/users/sign_in">Sign In</a></li>
      <li><a href="/users/sign_up">Create an Account</a></li>
      <% end %>
    </ul>
  </div>
</nav>